<!DOCTYPE html>
<html>
    <head>
        <title>My Office Diary</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    
    <body>
        
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <div class="header item navbar-brand"><i class="code icon"></i> Home</div> -->
                <a class="navbar-brand" href="/users"><i class="home icon"></i>Home</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length>0){ %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length>0){ %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
    </div>

        
    